@keyframes zoom {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.zoom {
    transition: transform 0.1s;
}

.zoom:hover {
    animation: zoom 2s 1;
}

.brand-style {
    font-family: "Comic Sans MS", cursive;
}


