.button-style:active {
    background-color: darkred;
}

.card-style {
    width: 500vw;
}

.form-style {
    padding-top: 10px;
    display: flex;
    justify-content: left;
    margin-left: 470px;
}

.card-icon-position {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-pos {
    margin-left: 30px;
    box-shadow: 0 0 5px 0 #161616;
}

body {
    background-image: url("../../images/secondVariant.jpg");
    background-size: cover;

}

.img-card-position {
    margin-right: 30px;
}

.error-alert-position {
    width: 350px;
}
