body {
    background-image: url("../../images/secondVariant.jpg");
    background-size: cover;

}

.button-style:active {
    background-color: darkred;
}

.card-header-style {
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.card-icon-position {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-pos {
    margin-left: 30px;
    box-shadow: 0 0 5px 0 #161616;
}

.card-style {
    width: 500vw;
}

.error-alert-size {
    width: 350px;
}

.form-style {
    padding-top: 10px;
    display: flex;
    justify-content: left;
    margin-left: 470px;
}

.img-card-position {
    margin-right: 30px;
}

.main-card-header-style {
    font-weight: bold;
    font-size: 25px;
}







