.button {
    font-weight: bold;
    color: white;
    border-radius: 10px;
    height: 80px;
    width: 100px;
    background-color: #7d7f82;
}

.button:hover {
    background-color: cornflowerblue;
}

.position {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
}

.place-button-calculate {
    width: 400px;
    height: 280px;
}

.result {
    font-weight: bold;
    padding-right: 10px;
    padding-top: 12px;
    height: 60px;
    width: 400px;
    border-radius: 10px;
    background-color: #161616;
    color: white;
    text-align: right;
}